llmgar/ 
corpusgraph_k128/
data/
indices
pyterrier_runs/
results/
.env
**/__pycache__
__pycache__/
gar_rm3.py
*.ipynb
*.sh
*.out
*.tar
*.txt
gar_aff.py
interweb_test.py
pairwise_gar_aff.py
query_test.py
rank_lamma.py
rm3.py
run.sh
run.py
templates.py
ranklamma.py
ranklamma_pyterrier.py
*.gitignore
